@use '../variables'
@use '../mixins'

.links2
  display: flex
  margin-top: .5rem

  @include mixins.mobile
    flex-direction: column
    gap: .5rem

    a
      margin: 0 auto
      align-items: center
      text-align: center

.links
  display: flex

  @include mixins.mobile
    flex-direction: column
    gap: .5rem

    a
      margin: 0 auto
      align-items: center
      text-align: center

.btn-project-deploy
  @include mixins.btn
  align-self: start
  min-width: 10rem
  text-align: center
  transition: .4s
  border-radius: 0
  border-top-left-radius: 3rem
  border-bottom-left-radius: 3rem

  @include mixins.mobile
    background: variables.$gradient
    border-radius: 3rem
    min-width: 18rem

.btn-project-middle
  @include mixins.btn
  background: variables.$middle-gradient
  align-self: start
  min-width: 10rem
  text-align: center
  transition: .4s
  border-radius: 0

  @include mixins.mobile
    background: variables.$gradient
    border-radius: 3rem
    min-width: 18rem

.btn-project-middle:hover
  background: variables.$rev-middle-gradient
  transition: none

  @include mixins.mobile
    background: variables.$rev-gradient

.btn-project-deploy:hover
  background: variables.$rev-gradient
  transition: none

.btn-project-github
  @include mixins.btn
  background: variables.$rev-gradient
  align-self: start
  min-width: 10rem
  text-align: center
  transition: .4s
  border-radius: 0
  border-top-right-radius: 3rem
  border-bottom-right-radius: 3rem

  @include mixins.mobile
    background: variables.$gradient
    border-radius: 3rem
    min-width: 18rem

.btn-project-github:hover
  background: variables.$gradient
  transition: none

  @include mixins.mobile
    background: variables.$rev-gradient

.projects-container
  margin-bottom: 1rem

  .projects-grid
    @include mixins.big-screen
    display: flex
    flex-wrap: wrap
    gap: 1.5rem
    justify-content: space-between

  .project-item
    margin-bottom: 1.5rem
    padding: 1rem
    width: 100%
    border: 1px solid #333
    border-radius: variables.$card-border-radius

    h4
      color: variables.$text-color
      margin: .5rem 0

      @include mixins.mobile
        text-align: center
      
    @include mixins.medium-screen
      width: 49%

    .logo-title
      display: flex
      margin-bottom: .5rem

      img
        width: 3rem
        height: 3rem
        border-radius: .5rem

  h3
    background: variables.$gradient
    padding-top: .5rem
    padding-left: .5rem
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 1.75rem
    margin-bottom: .5rem

    @include mixins.mobile
      font-size: 1.2rem
      background: transparent
      -webkit-background-clip: initial
      -webkit-text-fill-color: initial
      color: variables.$text-color
  
  p
    line-height: 1rem